html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mr-16 {
    margin-right: 16px;
}

.full-width {
    width: 100%;
}

.mb-0 {
    margin-bottom: 0px;
}

.dialog-container {
    padding: 24px;
    gap: 16px;
}

.dialog {
    display: flex;
    flex-direction: column;
    position: relative;

    .progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        
    }
}
